/*@import url(somecss.css);*/
/*@import url(somecss.css);*/
/*@import url(interaction.css);*/
/*@import url(layout-expertise.css);*/
@import url(fonts/fonts.css);
/*@import url(dropdown-menu.css);*/

* {
   margin: 0;   
}

html, body {
     height: 100%;
}

html {
   overflow: scroll;
/*   -webkit-text-stroke: 0.25px;*/
}

body {  
    background: #ECF1EF;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 14px;
    color:#1C4952;
    font-family: helvetica neue, tahoma, arial, lucida grand, trebuchet MS, sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-font-smoothing: antialiased;
}

strong {
   display: inline !important;
}

/*hacks for IE6 centering bug*/
* html body {text-align: center; height: 100%;}

/*hack for FF legacy and other general hacksh*t */
img a:link, img a:hover, img a:visited, img a:focus {
  -moz-outline-style:none;
  border:none; /*ie lte 7*/
  outline: 0; /*fix for FF3.6 in win 7*/
}

body a:link{
	color: #2F6D6C;
	text-decoration: none;
}
body a:visited {
	color: #419D9C;
	text-decoration: none;  
}
body a:hover {
	color: #809408;
	text-decoration:underline;   
}
body a:active { 
	color: #97D353;
}
.large {
   font-size:large;
}

.small {
   font-size:small;
}

#wrapper {
   position:relative;
    width:1000px;
    margin:0 auto; 
    overflow: hidden;
    padding-top: 2px;
    min-height: 100%;
    background: /*#bededd*/ #B8D1D6;
    border-left:1px solid #AAC2C6;
    border-right:1px solid #AAC2C6;
}

/* IE6 wrapper hack*/
* html #wrapper {
 text-align: left;
 padding-left: 30px;
 height: 100%;
}

.skin {
   width: auto;
   overflow:hidden;
   padding:2px 0px 0px 0px;
   margin-bottom: 357px;
   position: relative;
}


/*////////////  TOP HEADER STYLING  /////////////*/


#top_header {
   height: 101px;
   padding: 5px 5px 4px 5px;
   margin: 0 5px 0 5px;
   width:auto;
   text-align: left;
   font-size: .9em;
   font-style: normal;
   font-weight: 600;
   color: #387B79;
   background: #fff url(../images/ematrix-header.png) no-repeat;
   -moz-box-shadow: -1px 0px 4px rgba(0,0,0,0.2);
   -webkit-box-shadow: -1px 0px 4px rgba(0,0,0,0.2);
   box-shadow: -1px 0px 4px rgba(0,0,0,0.2);
   position: relative;
}

#top_header h2{
   font-family: 'daysregular', helvetica neue, tahoma, arial, lucida grand, trebuchet MS, sans-serif;
   padding: 10px 5px 10px 5px;
   font-size: 16px;
   letter-spacing: 1.5px;
   font-weight:500;
   /*color: #C5D4D8 !important;*/
   color:#093e42;
   -webkit-text-stroke: 0.10px;
   height: 25px;
   position:absolute;
   top:2px;
   left: 57px;
}
#top_header .sub {
   font-size:18px;
   display:inline;
   position:absolute;
   top:10px;
   width:200px;
}

#top_header .strap{
   font-size: 14px;
   text-align: right;
   letter-spacing: normal;
   position:absolute;
   top:50px;
   right: 10px;
}
/*hack for ie6*/
* html #top_header {
   height: 190px;
   width:850px;
   background:  #E1D8D8;
}
#top_header a:link {
   color: #3CA5B4;
   text-decoration: none;
}
#top_header a:visited {
   color: #419D9C;
   text-decoration: none;
}
#top_header a:hover {
   color: #809408;
   text-decoration:none;
}

/*//////////     SEARCH AND SOCIAL HEADER STYLING     //////////////*/

#index_search_social {
   height:auto;
   overflow:hidden;
   width:440px;
   float:right;
}

#search {
float:right;
   font-weight: 600;
   font-size: inherit;
   margin: 5px 0px 10px 10px;
   width: 200px;
   height: 35px;
}

#search  input.text{
   float:right;
   border: none;
   float:left;
   clear: left;
   color: #A8B5B8;
   font-style: italic;
   font-size:inherit;
   font-weight:600;
   margin: -11px 0px 2px 0px;
   width: 180px;
   height: 22px;
   padding-left: 10px;
   background: #F2F3ED;
}

#social ul{
   float:right;
   padding: 0px;
   margin: 5px 5px 10px 0px;
   width:130px;
   height: 40px;
}

#social ul li{
   float:right;
   display:inline;
   padding: 0px;
   margin: 0px auto;
}
#social img{
   border:none;
   padding: 3px;
}

 #social  :focus {
  -moz-outline-style:none;
  outline: 0; /*fix for FF3.6 in win 7*/
}


/*//////////////    INDEX PAGE STYLING    ////////////////*/


.panel-index{
   padding:5px;
   float:left;
   overflow:hidden;
   margin: -2px 0 auto;
   height: auto;
}
.panel-index h2{
   font-family: 'daysregular', helvetica neue, tahoma, arial, lucida grand, trebuchet MS, sans-serif;
   padding: 3px 0px;
   color: #4A8B8A;
   font-size: 24px;
   font-weight:500;
   letter-spacing: -2px;
}
.panel-index h3{
   padding: 10px 10px;
   text-align:right;
   font-size: 30px;
   font-weight:500;
   letter-spacing: -2px;
}
.panel-index h3 a {
    color: #93C5CF;
}

.short-desc {
   text-align:left;
   font-size: 20px;
   font-weight:600;
   letter-spacing: -1px;
   color: #78A1AB;
   font-style: italic;
}

.panel-index .more:hover {
   opacity:0.7;
   filter:alpha(opacity=70); /* For IE8 and earlier */
}

.panel-index img{
   border:none;
   outline: 0; /*fix for FF3.6 in win 7*/
   -moz-outline-style:none;/*general ff hack*/ 
}

.panel-index-holder {
    margin: -2px 0px 3px 0px;
    width: 995px;
    height: 100%;
    padding: 0px;
    overflow:hidden;
}

.panel-index-inner{
   float:left;
   padding:18px 0px 20px 5px;
   overflow:hidden;
   margin: 0px 3px 0px 0px;
   width:323px;
   height:270px;
   position: relative;
   background: #fff;
   -moz-box-shadow: -1px 0px 4px rgba(0,0,0,0.2);
   -webkit-box-shadow: -1px 0px 4px rgba(0,0,0,0.2);
   box-shadow: -1px 0px 4px rgba(0,0,0,0.2);
}

.panel-index-inner:hover {
   background: #E5E5E5;
   border:inset 1px solid #7B7C7B;
   opacity:0.8;
   filter:alpha(opacity=80); /* For IE8 and earlier */
}

.panel-index-content-box {
   width: auto; 
   padding: 15px 15px 20px 15px;
   margin: 0;
   overflow: hidden;
   font-size:90%; 
   color: #5F6055;
   float:left;
   display:block;
}

.panel-index-features-slideshow {
   width: 950px;
   height: auto;
   padding: 20px;
   margin: 0 0 -2px 0;
   overflow: hidden;
   font-size:90%; 
   color: #5F6055;
   background: #fff;
   -moz-box-shadow: -1px 0px 4px rgba(0,0,0,0.2);
   -webkit-box-shadow: -1px 0px 4px rgba(0,0,0,0.2);
   box-shadow: -1px 0px 4px rgba(0,0,0,0.2);
}

.panel-index-content-box img{
   padding: 2px;
   margin-right: 5px;
   float:left;
   -moz-box-shadow: -1px 0px 4px rgba(0,0,0,0.2);
   -webkit-box-shadow: -1px 0px 4px rgba(0,0,0,0.2);
   box-shadow: -1px 0px 4px rgba(0,0,0,0.2);
}

.panel-index-content-box-img {
   padding: 2px;
   margin: -10px 0 10px 0;
   float:left;
   -moz-box-shadow: -1px 0px 4px rgba(0,0,0,0.2);
   -webkit-box-shadow: -1px 0px 4px rgba(0,0,0,0.2);
   box-shadow: -1px 0px 4px rgba(0,0,0,0.2);
}

.panel-index-content-box h3{
   color: #7FA6AA;
   font-weight: 600;
   font-size: 26px;
   text-transform: lowercase;
   padding:8px 0px 3px 0px;
   letter-spacing: -2px;
   text-align:left;
}

.panel-index-content-box .h3-index {
   color: #7FA6AA;
   font-weight: 400;
   font-size: 30px;
   text-transform: lowercase;
   padding:2px 0px 3px 0px;
   letter-spacing: -2px;
   text-align:left;
   margin: 0 auto;
}

.panel-index-content-box a:link {
   color: #7D565D;
   text-decoration: none;
}
.panel-index-content-box a:visited {
   color: #527733;
   text-decoration: none;
}
.panel-index-content-box a:hover {
   color: #3BAC94;
   text-decoration:underline;
}

.cat_sum_sm_readmore {
   font-weight: 600;
}


.p-caption {
   float:left;
   width:450px;
   height:auto;
}

/*///////////////   CATEGORY INDEX DISPLAY BOXES   /////////////*/

.panel-index-inner-cat{
   float:left;
   padding:10px 8px 20px 12px;
   overflow:hidden;
   margin: 2px 0px -3px 0px;
   font-size:90%;
   width:970px;
   height:auto;
   position: relative;
   background: #fff;
   -moz-box-shadow: -1px 0px 4px rgba(0,0,0,0.2);
   -webkit-box-shadow: -1px 0px 4px rgba(0,0,0,0.2);
   box-shadow: -1px 0px 4px rgba(0,0,0,0.2);
}

.panel-index-inner-cat h2 {
   font-family: 'daysregular', helvetica neue, tahoma, arial, lucida grand, trebuchet MS, sans-serif;
}

.panel-index-cat-box-4:hover {
   background: #E5E5E5;
   border:inset 1px solid #7B7C7B;
   opacity:0.8;
   filter:alpha(opacity=80);
}

.panel-index-cat-box-4 {
   width: 208px;
   height:365px;
   padding: 10px 14px 5px 18px;
   margin: 0 2px 0 0;
   overflow: hidden; 
   color: #5F6055;
   float:left;
   background: #F3F3F3;
   border-radius:5px;
   position:relative;
}

.panel-index-cat-box-4 img{
   border: 0px solid #cccccc;
   padding: 4px;
   float:left;
   margin: 0px 15px 10px 0px;
   -moz-box-shadow: -1px 0px 4px rgba(0,0,0,0.2);
   -webkit-box-shadow: -1px 0px 4px rgba(0,0,0,0.2);
   box-shadow: -1px 0px 4px rgba(0,0,0,0.2);
}

.panel-index-cat-box-4 h3{
   color: #41777E !important;
   font-weight: 600;
   font-size: 22px;
   text-transform: lowercase;
   padding:8px 0px 3px 0px;
   letter-spacing: -1px;
   line-height: 90%;
   text-align:left;
}

.panel-index-cat-box-more {
   float:left;
   margin-top: 0px;
   padding: 3px 5px 10px 0px;
   font-weight: bold;
   position: absolute;
   top: 350px;
}


/*///////   EXCERPT AND READ MORE     ///////*/


a.showmore-gotoentry{
   height: 20px;
   font-size: 120%;
   text-decoration: none;
   font-weight:600;
   padding:10px 10px 30px 0px;
   margin: 20px 0px 20px 0px;
}

.excerpt-homepage {
   float:left;
   width: 48%; 
   padding: 15px 10px 5px 0px;
   margin: 0px;
   overflow: hidden;
   font-size:inherit;
   color: #5F6055;
   background: none;
   border-right:#CBCBCB 1px dotted;
}
.excerpt-homepage:last-of-type {
  float:right;
  border-right:none;
}
.excerpt-homepage ul li {
   margin-left:-20px;
   list-style: square;
   padding:3px 3px 3px 0px;
   font-weight:400;
}

.excerpt {
   width: auto; 
   padding: 10px 10px 10px 0px;
   margin: 0px;
   overflow: hidden;
   font-size:inherit;
   color: #5F6055;
   background: none;           
}

.excerpt h4, .excerpt-homepage h4 {
   font-size: 16px;
}

.excerpt hr, .excerpt-homepage hr {
   width:130%;
   padding:0;
   margin: 3px 0px 10px -20px;
   border: #E0E0E0 1px solid;
}


/*/////////////// UNIVERSITIES INDEX PAGE ////////////////*/

.top-panel-overview {
   width: 704px;
   height:auto;
   padding: 10px;
   margin: 1px 5px 15px 0px;
   overflow: hidden; 
   color: #5F6055;
   float:left;
   background: #F3F3F3;
   border-radius:5px;
}
.top-panel-overview h4 {
   text-align:right;
   font-size: 18px;
   padding:5px;
   margin:5px;
   color:#989898; 
}
 .top-panel-overview img {
   float:left;
   border: 0px solid #cccccc;
   margin:5px 10px 5px 0px;
   padding:4px;
   -moz-box-shadow: -1px 0px 4px rgba(0,0,0,0.2);
   -webkit-box-shadow: -1px 0px 4px rgba(0,0,0,0.2);
   box-shadow: -1px 0px 4px rgba(0,0,0,0.2);
 }
.right-panel-recent-entries {
   background:#F7F7F7;
   border-left:1px solid #F2F2F2;
   height:100%;
   width:200px;
   float:right;
   margin:-43px -10px -10px 0px;
   padding:35px 5px 10px 20px;
   clear:both;
}

.right-panel-recent-entries h5 {
   text-align:right;
   padding:5px 5px 0px 0px;
   border-bottom: 2px solid #D8D8D8;
   width:100%;
   margin:5px 5px 10px -10px;
   font-size:110%;
   font-style:italic;
   color:#989898;
}

.right-panel-recent-entries img{
   border: 0px solid #cccccc;
   -moz-box-shadow: -1px 0px 4px rgba(0,0,0,0.2);
   -webkit-box-shadow: -1px 0px 4px rgba(0,0,0,0.2);
   box-shadow: -1px 0px 4px rgba(0,0,0,0.2);
}

/*--------------------------
 
ALL CATEGORY LIST, SEARCH RESULT LIST, ENTRY DETAIL and PAGE MODULE PAGES 

----------------------------*/


/*//////////     CATEGORY LIST STYLING, BLOG LIST and TAG LIST STYLING     //////////////*/


.list_entry {
   float:left;
   clear:left;
   width:930px;
   padding: 5px 3px 0px 3px;
   overflow:hidden;
}

.list_entry:hover{
   float:left;
   clear:left;
   width:930px;
   height:auto;
   background: #E5E5E5;
   padding: 5px 3px 0px 3px;
   overflow:hidden;
   border-radius:5px;
}

.list_entry h3 {
   font-size:18px !important;
}

.list_entry .pub_date {
   font-style:italic;
   font-weight:600;
   color:#30B9B7;
}

.cat-name {
   font-style:italic;
   color:#30B9B7;
   text-transform:lowercase;
}

.cat_summary {
   padding:5px 5px 1px 5px;
   overflow: hidden;
   margin: 0px 10px 10px 18px;
   height: auto;
   width: 740px;
   font-size: inherit;
   float:left;
}

.category_image {
   padding:3px;
   margin:0;
   position:absolute;
   top:125px;
   left:820px;
   border:none !important;
}

.category_image_index {
   width: auto;
   height: 170px;
   padding:3px;
   float:left;
   margin:-50px 0 0 0px;
   -moz-box-shadow: -1px 0px 4px rgba(0,0,0,0.2);
   -webkit-box-shadow: -1px 0px 4px rgba(0,0,0,0.2);
   box-shadow: -1px 0px 4px rgba(0,0,0,0.2);
}

.cat-sum-small {
   height:auto;
   font-style:normal;
   width: auto;
   padding:10px 10px 10px 0px;
   overflow:hidden;
   position:relative;
}

a.cat-sum-small {
   font-size: 120%;
   text-decoration: none;
   font-weight:600;
   padding:10px 10px 10px 0px;
   margin: 20px 0 auto;
   border-bottom: none !important;
}

a.cat-sum-overview, a:visited.cat-sum-overview{
   position:absolute;
   top:230px;
   right:22px;
   height:auto;
   width: 130px;
   color:#fff !important;
   border:4px solid #fff;
   border-bottom: 4px solid #fff !important;
   background:#6BB1A0;
   text-align:center;
   font-style:italic;
   font-size: 14px;
   text-decoration: none;
   font-weight:600;
   padding:10px;
   margin: 10px 0 auto;
   -moz-box-shadow: -1px 0px 4px rgba(0,0,0,0.2);
   -webkit-box-shadow: -1px 0px 4px rgba(0,0,0,0.2);
   box-shadow: -1px 0px 4px rgba(0,0,0,0.2);
}
a:hover.cat-sum-overview {
   color:#ACF581 !important;
   border:4px solid #fff !important;
   border-bottom: 4px solid #fff !important;
}


/*////////////////     BROWSE BY STYLES      //////////////////*/

.browse-cat-sum {
   text-align:right;
   padding: 5px;
   margin:-55px 10px 5px -5px;
   font-style: italic;
   font-size: small;
   color: #1F8389;
   width:auto;
   max-width:400px;
   float: right;
   overflow:hidden;
   min-height:40px;
}

.browse-cat {
   float:left;
   clear:left;
   width:930px;
   height:auto;
   background: none;
   padding: 5px 3px 0px 3px;
   overflow:hidden;
   margin: 2px;
}

.browse-cat:hover{
   float:left;
   clear:left;
   width:930px;
   height:auto;
   background: #E5E5E5;
   padding: 5px 3px 0px 3px;
   overflow:hidden;
   margin: 2px;
   border-radius:5px;
}

.browse-cat-h3 {
   font-size:18px !important;
}
.browse-cat h4 {
   font-size:14px !important;
}

.browse-cat .pub_date {
   font-style:italic;
   font-weight:600;
   color:#30B9B7;
}

.browse-more {
   clear:both;
   text-align:right;
   font-size: 20px;
   font-weight:600;
   font-style:inherit;
   text-transform: lowercase;
   letter-spacing: -1px;
   color: #853857;
   padding: 15px 30px 5px 10px;
   margin: 20px 0 0 0px;
}

/*////////////    PAGE STYLING AND DETAIL PAGE STYLING (inc page-body) ///////////////// */

#page {
   background: #fff;
   padding: 10px 5px;
   overflow: hidden;
   margin: 3px 5px 10px 5px;
   width: 980px;
   -moz-box-shadow: -1px 0px 4px rgba(0,0,0,0.2);
   -webkit-box-shadow: -1px 0px 4px rgba(0,0,0,0.2);
   box-shadow: -1px 0px 4px rgba(0,0,0,0.2);
}

.page-body a:link {
   color: #B8465B;
   text-decoration: none;
   border-bottom: 1px dotted #B8465B;
   font-weight:600;
}
.page-body a:visited {
   color: #A30D27;
   text-decoration: none;
   border-bottom: 1px dotted #A30D27;
   font-weight:600;
}
.page-body a:hover {
   color: #55D73F;
   text-decoration:underline #55D73F;
}

#page h2{
   font-weight:normal;
   font-style:normal;
   font-size:26px;
   /*text-transform: lowercase;*/
   text-align:left;
   letter-spacing:-2px;
   margin: -1px 5px 0px 11px;
   padding:2px 10px 5px 10px;
   color: #0f696f;
   border-left: 12px solid #CAD6D8;
   max-width: 470px;
   height:auto;
   min-height: 18px;
}

#page h3, h4, h5, h6{
   color: #387B79;
   font-size:inherit;
   padding: 5px 0px 5px 0px;
}

#page-h3-right {
   letter-spacing: normal;
   font-size:inherit;
}

#page .pub_date_author {
   padding: 6px 15px 4px 5px;
   font-style:normal;
   font-size: 16px;
   font-weight:700;
   letter-spacing: -1px;
   text-transform:lowercase;
   color: #5D8482;
   margin: -1px 10px 2px 5px;
   width: auto;
   height:15px;
   border-right: 12px solid #CAD6D8;
   float:right;
   text-align:right;
}

#page .snapshot{
   text-align:right;
   padding: 5px;
   margin:-10px 10px 5px -5px;
   font-style: italic;
   font-size: small;
   color: #1F8389;
   width:auto;
   max-width:400px;
   float: right;
   overflow:hidden;
   min-height:37px;
}

#page .page-body {
   clear:both;
   overflow:hidden;
   width:auto;
   text-align:left;
   padding: 15px 20px 10px 20px;
   font-size:90%;
   color: #413F32;
   margin: -3px -5px 10px -5px;
   border-top: 5px solid #E0E0E0;
   word-wrap: break-word;
}

#page .page-body blockquote {
   font-style:italic;
   font-weight:500;
   color:#154052;
}

#page .page-body .media-embed {
   float:left;
   padding: 10px;
   margin: -30px 5px 20px 5px;
}

#page .media-embed-type embed, .media-embed-type object, .media-embed-type iframe {
   float:left;
   width:450px;
   height:350px;
   max-width:450px;
   min-width:450px;
   max-height:350px;
   min-height:320px;
   overflow:hidden;
   padding-top:10px;
   margin:10px 1px 5px -15px;
}

#page .page-body ul, .page-body ol {
   margin: 10px 0 5px 20px;
}

#page .page-body ul li{
   padding:5px 5px 2px 10px;
   font-size: inherit;
   color: #183A54;
   list-style: square inside;
}

.page-body ol li{
   padding:5px 5px 2px 10px;
   font-size: inherit;
   color: #183A54;
   list-style: decimal;
}

#page img {
   border: 0px solid #cccccc;
   float:right;
   -moz-box-shadow: -1px 0px 4px rgba(0,0,0,0.2);
   -webkit-box-shadow: -1px 0px 4px rgba(0,0,0,0.2);
   box-shadow: -1px 0px 4px rgba(0,0,0,0.2);
}

#page .page-body img, #page .page-body .slideshow-single-img {
   border: 0px solid #cccccc;
   padding: 4px;
   float:left;
   margin: 0px 5px 5px 0px;
}
.slideshow-single-img {
   position:relative; 
}

.slideshow-single-img-caption{
   position:absolute;
   left:8px;
   bottom:12px;
   background:#214444;
   padding:5px;
   color:#fff;
   opacity:0.8; /* Overridden by captionOpacity setting */
   width:440px;
   height:13px;
   z-index:8;
}

.panel-img-caption{
   position:absolute;
   left:10px;
   bottom:10px;
   background:#214444;
   padding:10px;
   color:#fff;
   opacity:0.8; /* Overridden by captionOpacity setting */
   width:auto;
   height:20px;
   z-index:8;
}

.slideshow-overlay-img-caption{
   position:absolute;
   left:13px;
   bottom:18px;
   background:#0B2C2C;
   padding:5px;
   color:#fff;
   opacity:0.8; /* Overridden by captionOpacity setting */
   width:592px !important;
   height:15px;
   z-index:8;
}

#page hr {
   width:110%;
   padding:0;
   margin-left:-15px;
   border: #E0E0E0 3px solid;
}

.page-body-downloads {
   float:left;
   clear:both;
   padding: 10px;
   margin: 10px 10px 10px 0px;
   width:auto;
   height:auto;
   background: #E7E7E7;
}

.page-body-downloads ul li{
   font-weight:600;
   text-transform:lowercase;
   list-style:none !important;
   padding:10px;
   line-height:25px;
   margin: -20px 0 5px -65px;
}

.page-body-downloads img{
   padding: 0px!important;
   -moz-box-shadow: none !important;
   -webkit-box-shadow: none !important;
   box-shadow: none !important;
}

.download-span {
   float:left;
   display:inline;
   inline-box-align:initial;
   clear:left;
}

.page-body .contactform ul{
   font-weight:600;
   font-style:italic;
   float:right;
   display:block;
   width: 400px;
   height:auto;
   text-align:right;
   text-transform:lowercase;
}

.page-body .contactform ul li{
   list-style:none !important;
   padding: 5px;
}

.no-image-thmb {
   border:1px dotted grey;
   color:grey;
   width:70px;
   height:70px;
   font-style:italic;
   font-size:small;
   float:left;
   padding:5px;
   margin:5px 5px 0px 3px;
}

.page-body p, #panel_content p{
   font-size: inherit;
   padding: 0 !important;
   margin: 5px auto;
   line-height: normal;
}


/*/////////////     PANEL CONTENT STYLES     ////////////////////*/

#panel_content {
   background:none !important;
   font-size:90%;
   width: auto;
   padding: 5px 20px 5px 20px;
   margin: 0 -5px 0 -5px;
   overflow: hidden;
}

#panel_content p {
   line-height: 1.5em;
}

#panel_content h3{
   color: #387B79;
   padding: 5px 5px 10px 0px;
   font-size:18px;
}

#panel_content h4, h5, h6{
   color: #387B79;
   padding: 5px 5px 10px 0px;
   font-size:inherit;
}

#panel_content img {
   float:right;
   padding: 5px 5px 5px 5px;
   margin: 4px 4px 4px 20px;
   max-width:350px;
   max-height: 250px;
   -moz-box-shadow: -1px 0px 4px rgba(0,0,0,0.2);
   -webkit-box-shadow: -1px 0px 4px rgba(0,0,0,0.2);
   box-shadow: -1px 0px 4px rgba(0,0,0,0.2);
}

#panel_content a:link {
   color: #B8465B;
   font-weight:600;
   text-decoration: none;
   border-bottom: 1px dotted #B8465B;
}
#panel_content a:visited {
   font-weight:600;
   color: #A30D27;
   text-decoration: none;
   border-bottom: 1px dotted #A30D27;
}
#panel_content a:hover {
   color: #55D73F;
   text-decoration: none;
   border-bottom: 1px dotted #55D73F;
}

.panel-content-downloads {
   float:left;
   clear:both;
   padding: 10px;
   margin: 10px 10px 10px 0px;
   width:auto;
   height:auto;
   background: #DBE2E3;
}

.panel-content-downloads ul li{
   font-weight:600;
   text-transform:lowercase;
   list-style:none !important;
   padding:3px;
   line-height:30px;
   margin: -10px 0 5px -40px;
}

.panel-content-downloads ul li img{
   padding: 0px !important;
   -moz-box-shadow: none !important;
   -webkit-box-shadow: none !important;
   box-shadow: none !important;
}

#panel_content .panel-content-downloads a:link {
   color: #B8465B;
   text-decoration: none;
}
#panel_content .panel-content-downloads a:visited {
   color: #85B967;
   text-decoration: none;
}
#panel_content .panel-content-downloads a:hover {
   color: #3BAC94;
   text-decoration:underline;
}

#panel_content div.prezi-player {
   overflow:hidden;
   float:right;
   fit-position: right;
}

#panel_content .embed-tabbed {
   clear:left;
   width:auto;
   height:auto;
   overflow:hidden;
   float:right;
   padding: 5px 5px 5px 15px;
}

#panel_content .embed-tabbed embed, object, iframe {
   border: 0px solid !important;
   float:right;
}

#panel_content .embed-tabbed iframe {
   overflow:hidden;
   display:block;
}

#panel_content .embed-tabbed .prezi-player {
   border: 0px solid !important;
   overflow:hidden;
   float:right;
   fit-position: right;
}

#panel_content .embed-tabbed .prezi-player-links {
   display:none;
}

#panel_content .embed-tabbed  div {
   width: 280px !important;
   min-width: 280px !important;
   max-width: 280px !important;
   height: 20px !important;
   min-height: 20px !important;
   max-height: 20px !important;
   float:right;
   clear:both;
}

.embed-nodiv {
   display:none;
}




/*//////////////    PAGE-FOOTER, LEVEL, TAGGED, CAT-DETAIL, PAGINATION STYLES    /////////////// */

.page-footer, .level, .tagged, .cat-detail{
   font-weight:normal;
   padding: 5px;
   font-style: italic;
   clear:left;
}

.tagged, .cat-detail{
   width: 45%;
}

.tagged .word, .cat-detail .word{
   background: #CAD6D8;
   padding:1px 3px 1px 3px;
   height:auto;
   margin:2px 2px 2px 0px !important;
   width:auto;
   display:inline-block;
}

.tag-footer {
   width: 100%;
   float:left;
}

.paginate {
   clear:both;
   float:left;
   width: 906px;
   font-size: inherit;
   font-weight: 700;
   color: #9C2D7A;
   padding: 15px;
   text-transform: lowercase;
   margin: 20px 0 0 0;
   background: none;
   border-top: 3px #C6C6C6 solid;
}


/*//////////////    RELATED CONTENT STYLES     /////////////////*/


.related-content {
   float:right;
   vertical-align:top;
   width: 50%;
   height:auto;
   font-weight:normal;
   padding:0px 5px 5px 10px;
   font-weight:600;
   margin-top: -5px;
   overflow:hidden;
   clear:left;
}

.related-content h3 {
   margin: 10px 5px;
   font-style: italic;
}

.rel-list-box {
   width:140px;
   float:left;
   font-weight:inherit;
   font-style: normal;
   padding: 2px 2px 2px 0px;
   margin: 5px 2px 0px 0px;
   opacity:1.0;
   filter:alpha(opacity=100); /* For IE8 and earlier */
   min-height:170px;
   max-height: 170px;
}

.rel-list-box img {
   float:right;
   padding:3px;
   border:none;
}

.rel-list-box:hover {
   background: #E5E5E5;
   border:inset 1px solid #BEBFBE;
   opacity:0.8;
   filter:alpha(opacity=80); /* For IE8 and earlier */
   border-radius:5px;
}

.rel-list-box h6 {
   clear:both;
   margin-top:5px;
   font-size:12px;
   padding:5px 5px 10px 5px;
}

.rel-list {
   width:90%;
   float:left;
   font-weight:inherit;
   padding: 5px;
   font-style: inherit;
}

.rel-list li{
   line-height: 30px;
   list-style:none;
   padding:5px 0 5px 0;
}

 
/*//////////////////     FOOTER STYLING      /////////////////////*/


#footer {
   float:left;
   display:block;
   width: auto;
   color: white;
   font-size: small;
   text-align: left;
   padding: 5px 5px 0px 5px;
   margin-top: -360px;
   background: #bededd url(../images/footer-bg.png) repeat-x;
   height: 350px;
   min-height: 350px;
   -moz-box-shadow: -1px 0px 10px rgba(0,0,0,0.2);
   -webkit-box-shadow: -1px 0px 10px rgba(0,0,0,0.2);
   box-shadow: -1px 0px 10px rgba(0,0,0,0.2);
}

.footer-weblearn-info-strap {
   text-align:center;
   float:left;
   height: 10px;
   padding: 5px 0px 10px 0px;
   width:980px;
   font-style: italic;
   font-size:12px;
   font-weight: 600;
   color: #3E7682;
   overflow:hidden;
   /*border-bottom:1px dotted #C8C8C8;*/
   margin: -5px 5px 0px 5px;
}

.footer-holder {
   position: relative;
   margin: 0 auto;
   width: 1000px;
   height: 330px;
   overflow:hidden;
   padding: 0px 0px 0px 7px;
}

.footer-inner {
   width: 938px; 
   padding: 20px;
   margin: 0 0 10px 0;
   overflow: hidden;
   font-size:90%; 
   color: #D6DAB7;            
}

.footer-content-box {
   width: 270px;
   min-height:200px;
   max-height: 210px;
   padding: 15px;
   margin: 6px 2px 5px 6px;
   overflow: hidden;
   font-size:100%;
   color: #59879C;
   float:left;
   border-left: 1px dotted #ABABAB;
}

.footer-content-box h3{	
   color: /*#ABABAB*/ #909A9C;
   font-weight: 600;
   font-size: 28px;
   letter-spacing:-2px;
   text-transform:lowercase;
   padding:10px 0px 3px 0px;
}

.footer-browse {
   color: #B2BBA2;
   font-weight: 600;
   font-size: 24px;
   letter-spacing:-2px;
   list-style:none;
   text-transform:lowercase;
   padding:10px 0px 3px 0px; 
}

.footer-content-box .logo-ft{
   padding:5px;
   height: 90px;
   width: 90px;
   margin-top:0px;
   background: url(../images/bb/celt-logo_tr_m.png) no-repeat;
   position: absolute;
   top: 190px;
   left: 170px;
   clear:both;
}

.footer-nav {
/*  clear:both;
   float:left;*/
   list-style:none;
   height: 26px;
   padding: 5px;
   width:968px;
   font-style: normal;
   font-weight: 600;
   color: #3A4C67;
   overflow:hidden;
   margin: -15px 5px 0px 0px;
   border-top: 1px dotted #D0D0D0;
}

.footer-nav ul li {
   display:inline;
   color: #B2BBA2;
   font-weight: 600;
   font-size: 16px;
   letter-spacing:-1px;
   list-style:none;
   text-transform:lowercase;
   padding:4px 10px 3px 5px; 
}

.footer-nav .logo {
   padding:5px;
   height: 70px;
   width: 70px;
   margin-top:-5px;
   background: url(../images/celt-logo_tr-sm.png) no-repeat;
   position: absolute;
   top: 260px;
   left: 905px;
}

.logo-lonmet {
   float:right;
   padding:2px;
   height: 65px;
   width: 95px;
   margin-top:0px;
   background: url(../images/logo-lonmet.png) no-repeat;
  position: absolute;
   top: 195px;
   left: 885px;
}

.logo-cc {
   padding:5px;
   height: 70px;
   width: 100px;
   margin-top:5px;
   position: absolute;
   top: 295px;
   left: 825px;
}